*{
    margin:0;
}
.container{
    width: 100%;
}
nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding:5px;
    margin:10px;
}
nav{
    width: 100%;
    background-color: rgba(0, 128, 0, 0.633);
    padding:5px;
}
nav img{
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
}
nav ul li a:hover{
    color:rgb(255, 255, 146);
    transition:0.5s;
    padding:10px;

}
section{
    padding:10px;
    margin:10px;
}
.project-card{
    width:200px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
