*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
}
nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    float: right;
    text-align: right;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding:5px;
    margin:10px;
}
nav{
    align-items: end;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.633);
    padding:5px;
}
nav img{
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
}
nav ul li a:hover{
    color:rgb(255, 255, 146);
    transition:0.5s;
    padding:10px;

}
section{
    padding:10px;
    margin:10px;
}
.project-card p{
    text-align: left;
}
.project-card{
    width:200px;
    display: inline-block;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding:20px;
    margin:10px;
    position: relative;
    color:white;
    border-radius: 20px;    
    background-color: rgba(0, 128, 0, 0.633);
    border:1px solid black;
    box-shadow: 2px 2px 10px black;
    transition: 0.5s;
    z-index: 1000;
}

.project-card:nth-child(1)::before{
    top:0;
    left:0;
    content: '';
    background-color: white;
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.project-card img{
    border-radius: 20px;
    width: 80%;
}
.project-card:hover{
    box-shadow: 5px 5px 10px black;
    transform: rotateY(180deg);
}
